
  .CardTrips {
    border: 2px solid #ce1616;
    color: rgb(44, 44, 218);
    border-radius: 33px;
    padding: 20px;
    margin: 20px;
    width: 650px;
    align-items: center;
  }
  .imgTrips{
    width: 550px;
  }
  ul{
    display: inline-block;
  }